<!DOCTYPE html>
<html lang="ni">
<head>
	<title> Formulario de voluntariado </title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/bootstrap-timepicker.css"/>
	<link rel="stylesheet" href="css/start.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" href="css/formulario.css" />
</head>
<body>
	<header class="header-search">

		<div class="header-limiter">

			<h1><a href="#">Zamora Terán</a></h1>

			<nav>
				<a href="login.html">Home</a>
				<a href="#">Volunteers</a>
				<a href="#" class="selected">New volunteer</a>
			</nav>

			<div class="loginNavigation">
				<a href="#">Login</a>
			</div>
		</div>

	</header>

	<div class="container">
		<form>
			<div class="form-group row">
				<label for="nombre" class="col-sm-2 form-control-label">Nombre completo</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombre" placeholder="Nombre completo">
				</div>
			</div>
			<div class="form-group row">
				<label for="cedula" class="col-sm-2 form-control-label">No. De Cédula</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="cedula" placeholder="No. De Cédula">
				</div>
			</div>
			<div class="form-group row">
				<label for="residencia" class="col-sm-2 form-control-label">Dirección de residencia</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="residencia" placeholder="Dirección de residencia">
				</div>
			</div>
			<div class="form-group row">
				<label for="Telefono" class="col-sm-2 form-control-label">Teléfono</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="Teléfono" placeholder="+505 XXXX XXXX">
				</div>
			</div>

			<div class="form-group row">
				<label for="correo" class="col-sm-2 form-control-label">Correo electrónico</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" id="correo" placeholder="nombre@gmail.com">
				</div>
			</div>

			<div class="form-group row">
				<label for="institucion" class="col-sm-2 form-control-label">Institución académica</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="institucion" placeholder="Institución académica">
				</div>
			</div>

			<div class="form-group row">
				<label for="carraracurso" class="col-sm-2 form-control-label">Carrara o curso</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="Carraracurso" placeholder="Carrara o curso">
				</div>
			</div>

			<div class="form-group row">
				<label for="nivel" class="col-sm-2 form-control-label">Nivel</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nivel" placeholder="5to anto">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group row">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>
									<input type="checkbox" value="" class="trabajoLunes" id="trabajoLunes" onchange="switchLunes()"> 
									<label for="trabajoLunes">Lunes</label>
								</th>
								<th>
									<input type="checkbox" value="" class="trabajoMartes" id="trabajoMartes" onchange="switchMartes()">
									<label for="trabajoMartes">Martes</label>
								</th>
								<th>
									<input type="checkbox" value="" class="trabajoMiercoles" id="trabajoMiercoles" onchange="switchMiercoles()">
									<label for="trabajoMiercoles">Miercoles</label>
								</th>
								<th>
									<input type="checkbox" value="" class="trabajoJueves"  id="trabajoJueves"onchange="switchJueves()">
									<label for="trabajoJueves">Jueves</label>
								</th>
								<th>
									<input type="checkbox" value="" class="trabajoViernes"  id="trabajoViernes" onchange="switchViernes()">
									<label for="trabajoViernes">Viernes</label>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="lunes">
									<div class="form-group row">
										<label for="fromLunes" class="col-sm-2 form-control-label">From</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="fromLunes" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
									<div class="form-group row">
										<label for="toLunes" class="col-sm-2 form-control-label">To</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="toLunes" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
								</td>
								<td id="martes">
									<div class="form-group row">
										<label for="fromMartes" class="col-sm-2 form-control-label">From</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="fromMartes" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
									<div class="form-group row">
										<label for="toMartes" class="col-sm-2 form-control-label">To</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="toMartes" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
								</td>
								<td id="miercoles">
									<div class="form-group row">
										<label for="fromMiercoles" class="col-sm-2 form-control-label">From</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="fromMiercoles" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
									<div class="form-group row">
										<label for="toMiercoles" class="col-sm-2 form-control-label">To</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="toMiercoles" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
								</td>
								<td id="jueves">
									<div class="form-group row">
										<label for="fromJueves" class="col-sm-2 form-control-label">From</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="fromJueves" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
									<div class="form-group row">
										<label for="toJueves" class="col-sm-2 form-control-label">To</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="toJueves" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
								</td>
								<td id="viernes">
									<div class="form-group row">
										<label for="fromViernes" class="col-sm-2 form-control-label">From</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="fromViernes" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
									<div class="form-group row">
										<label for="toViernes" class="col-sm-2 form-control-label">To</label>
										<div class="input-group bootstrap-timepicker timepicker">
											<input id="toViernes" class="form-control input-small" type="text">
											<span class="input-group-addon timeselector"><i class="glyphicon glyphicon-time"></i></span>
										</div>
									</div>
								</td>
							</tr>

						</tbody>
					</table>	
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-secondary submitButton">Sign in</button>
				</div>
			</div>
		</form>


	</div>
	<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap-timepicker.js"></script>

	<script type="text/javascript" src="js/formulario.js"></script>	


</body>
</html>