<!DOCTYPE html>
<html lang="ni">
<head>
	<title> Home </title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/start.css" />
	<link rel="stylesheet" href="css/login.css" />
	<link rel="stylesheet" href="css/header.css" />
</head>
<body>
	<header class="header-search">

		<div class="header-limiter">

			<h1><a href="login.html"><img src="img/logo.png" alt=""></a></h1>

			<nav>
				<a href="login.html"  class="selected">Home</a>
				<a href="voluntarios.html">Volunteers</a>
				<a href="formulario.html">New volunteer</a>
			</nav>

			<div class="loginNavigation">
				<a href="login.html">Login</a>
			</div>
		</div>

	</header>
	<div class="container">
		
	</div>
</body>
</html>