<!DOCTYPE html>
<html lang="ni">
<head>
	<title> Formulario de voluntariado </title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/bootstrap-timepicker.css"/>
	<link rel="stylesheet" href="css/start.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" href="css/volentarios.css" />
</head>
<body>
	<header class="header-search">

		<div class="header-limiter">

			<h1><a href="#"><img src="img/logo.png" alt=""></a></h1>

			<nav>
				<a href="login.html">Home</a>
				<a href="#">Volunteers</a>
				<a href="#" class="selected">New volunteer</a>
			</nav>

			<div class="loginNavigation">
				<a href="#">Login</a>
			</div>
		</div>

	</header>

	<div class="container">
	<a href="voluntarios.html" class="btn btn-info" role="button"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Retorno</a>
	<div class="col-md-12">
		<div class="col-md-6 columns">
			<p><b>Nombre completo:</b> Brian Membreno Martinez</p>
			<p><b>No. De Cédula:</b> 001-24-0695-0022R</p>
			<p><b>Direccion de residencia:</b> Americas 3, casa B-2183</p>
			<p><b>Correo electronico:</b> mm.arg95@gmail.com</p>
		</div>
		<div class="col-md-6 columns">
			
			<p><b>Teléfono:</b> 86780610</p>
			<p><b>institucion academica:</b> UAM</p>
			<p><b>Carrerra o curso:</b> Arquitectura</p>
			<p><b>Nivel:</b> 5to  anto</p>
		</div>
		<a href="formulario.html" class="btn btn-info edit" role="button"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
		</div>
		<div class="workingTable col-md-12">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Hora de entrada</th>
							<th>Hora de salida</th>
							<th>Total de horas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>15-febrero-2016</td>
							<td>8:00AM</td>
							<td>5:00PM</td>
							<td>8 horas</td>
						</tr>

					</tbody>
				</table>
				</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap-timepicker.js"></script>




</body>
</html>