<!DOCTYPE html>
<html lang="ni">
<head>
	<title> Voluntarios </title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/bootstrap-timepicker.css"/>
	<link rel="stylesheet" href="css/start.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" href="css/volentarios.css" />
</head>
<body>
	<header class="header-search">

		<div class="header-limiter">

			<h1><a href="index.html"><img src="img/logo.png" alt=""></a></h1>

			<nav>
				<a href="index.html">Home</a>
				<a href="voluntarios.html"  class="selected">Volunteers</a>
				<a href="formulario.html">New volunteer</a>
			</nav>

			<div class="loginNavigation">
				<a href="login.html">Login</a>
			</div>
		</div>

	</header>

	<div class="container">
	<form action="{{ path('voluntarios.overview')}}" method="post" {{ form_enctype(busquedaform)}} novalidate="novalidate" class="form-inline searchForm" role="form" >
			<div class="form-group">
			busquedaform
				{{ form_widget(busquedaform.busqueda,{'attr':{'class':'form-control','id':'busqueda'}})}}
			</div>
			<button type="submit" class="btn btn-default">Búsqueda</button>
		</form>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>No. De Cédula</th>
					<th>Nombre</th>
					<th>Correo electrónico</th>
					<th>Teléfono</th>
					<th>Trabaja para</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap-timepicker.js"></script>




</body>
</html>