{% extends 'layout.twig' %}

{% set pageTitle = 'Nuevo empleado' %}
{% block pageContent %}
<div class="col-md-12"  style="padding-left: 0;">
			<a href="formulario.html" class="btn btn-info btnreturn" role="button"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Retorno</a>
		</div>
		<form>
			<div class="form-group row">
				<label for="nombre" class="col-sm-2 form-control-label">nombre de usuario</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombre" placeholder="nombre de usuario">
				</div>
			</div>
			<div class="form-group row">
				<label for="cedula" class="col-sm-2 form-control-label">contraseña</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="cedula" placeholder="contraseña">
				</div>
			</div>
			<div class="form-group row">
				<label for="residencia" class="col-sm-2 form-control-label">repetir contraseña</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="residencia" placeholder="repetir contraseña">
				</div>
			</div>


			<div class="form-group row">
				<div class=" col-md-12">
					<button type="submit" class="btn btn-info submitButton">Añadir el empleado</button>
				</div>
			</div>
		</div>
		
	</form>
{% endblock %}