{% extends 'layout.twig' %}

{% set pageTitle = 'Empleados' %}
{% block pageContent %}

<a href="{{path('empleados.nuevo')}}" class="btn btn-info" role="button">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"/> Nuevo
				</a>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Cambia</th>
			<th>Borrar empleado</th>
		</tr>
	</thead>
	<tbody>
		{% for empleado in empleados %}
		<tr>
			
			<td>{{empleado.Nombre}}</td>
			<td>
				<a href="{{path('empleados.details',{'id': empleado.idAdmins })}}" class="btn btn-info" role="button">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"/> Cambia
				</a>
			</td>
			<td>
				<a href="{{path('empleados.delete',{'id': empleado.idAdmins })}}" class="btn btn-info" role="button">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"/> Borrar
				</a>

			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
{% endblock %}