{% extends 'layout.twig' %}

{% set pageTitle = 'Empleados' %}
{% block pageContent %}
<form class="form-inline searchForm" role="form" >
			<div class="form-group">
				<input type="text" class="form-control" id="busqueda" placeholder="Búsqueda">
			</div>
			<button type="submit" class="btn btn-info">Búsqueda</button>
		</form>

		<table class="table table-hover">
			
		</table>
{% endblock %}