{% extends 'layout.twig' %}

{% set pageTitle = 'Volentario' %}
{% block pageContent %}

<div class="col-md-12">
			<a href="voluntarios.html" class="btn btn-info btnreturn" role="button"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Retorno</a>
		</div>

		<div class="col-md-12">
			<div class="col-md-6 column1">
				<p><b>Nombre completo:</b> Brian Membreno Martinez</p>
				<p><b>No. De Cédula:</b> 001-24-0695-0022R</p>
				<p><b>Direccion de residencia:</b> Americas 3, casa B-2183</p>
				<p><b>Correo electronico:</b> mm.arg95@gmail.com</p>
			</div>
			<div class="col-md-6 column2">

				<p><b>Teléfono:</b> 86780610</p>
				<p><b>institucion academica:</b> UAM</p>
				<p><b>Carrerra o curso:</b> Arquitectura</p>
				<p><b>Nivel:</b> 5to  anto</p>
			</div>
			<div class="col-md-12">
				<a href="formulario.html" class="btn btn-info edit" role="button"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
			</div>
		</div>
		<div class="col-md-12">
			<p class="frame"><b>Trabaja para:</b> 150 horas</p>
			<p class="frame"><b>Trabaja del</b> 15-5-2016 <b>al el </b>31-5-2016</p>
		</div>
		
		<div class="workingTable col-md-12">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Hora de entrada</th>
							<th>Hora de salida</th>
							<th>Total de horas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>15-febrero-2016</td>
							<td>8:00AM</td>
							<td>5:00PM</td>
							<td>8 horas</td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
{% endblock %}