{% extends 'layout.twig' %}

{% set pageTitle = 'Volentarios' %}
{% block pageContent %}
<form class="form-inline searchForm" role="form" >
			<div class="form-group">
				<input type="text" class="form-control" id="busqueda" placeholder="Búsqueda">
			</div>
			<button type="submit" class="btn btn-info">Búsqueda</button>
		</form>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>No. De Cédula</th>
					<th>Nombre</th>
					<th>Correo electrónico</th>
					<th>Teléfono</th>
					<th>Trabaja para</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr><tr>
					<td>001-240695-0022R</td>
					<td>Brian Membreno Martinez</td>
					<td>mm.arg95@gmail.com</td>
					<td>86780610</td>
					<td>150 horas</td>
					<td><a href="#" class="btn btn-info" role="button">Más</a></td>
				</tr>
			</tbody>
		</table>
{% endblock %}