{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = '404 - File Not Found' %}

{% block pageContent %}
	<p class="breadcrumb" style="text-align: center;"><a href="{{ path('voluntarios.overview') }}">Home</a> &raquo; 404 - Page Not Found</p>
	<img src="{{ app.request.baseUrl }}/assets/img/404.jpg" style="width: 350px; position: fixed; left: 37.5%;">
	<p>{{error}}</p>
{% endblock %}