h2{
	float: left;
	margin:auto;
	width: 100%;
	text-align: center;
	font-family: "Times New Roman"; 
	font-size: 22px;
}

p{
	margin: auto;
	margin-top: 15px;
	margin-bottom: 5px;
	max-width: 600px;
	font-family: "Times New Roman"; 
	font-size: 14px;
}

ul{
	max-width: 600px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;font-family: "Times New Roman"; 
	font-size: 14px;
}

.greeting{
	text-align: center;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.atentamente{
	margin-top: 15px;
	margin-bottom: 35px;
}

#toPrint{
	width: auto;
}

#toRemove{
	margin-bottom: 50px;	
}