h2{
	
	float: left;
	margin:auto;
	width: 100%;
	text-align: center;
	font-family: "Calibri"; 
	font-size: 22px;
}
ul,p{
	margin: auto;
	margin-top: 15px;
	margin-bottom: 5px;
	max-width: 550px;
	font-family: "Calibri"; 
	font-size: 17px;
}


.greeting{
	text-align: center;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.atentamente{
	margin-top: 15px;
	margin-bottom: 35px;
}

#toPrint{
	width: auto;
}