.content{
	width: 98em;
	margin: auto;
}
.container{
	margin-top: 15px;
}

.structural {
	position: absolute;
	left: -9999px;
}

.loginBox{
	position:fixed;
	top: 50%;
	left: 45%;
	width:24em;
	height:14em;
	margin-top: -10em; /*set to a negative number 1/2 of your height*/
	margin-left: -9em; /*set to a negative number 1/2 of your width*/
	border: 1px solid #ccc;
	background-color: #f3f3f3;
	padding: auto;
}

.loginTitle{
	margin-left: 1em;
}

form{
	margin-left: 2em;

}

input{
	margin: 0.5em;
	margin-right: 3.5em;
}

.button{
	margin-right: 4.5em;
	float:right;
}

.login{
	margin-left: 1em;
}

input{
	width: 20em;
}

.timepicker{
	width: 9em;
	float: right;
	margin-right: 15px;
}

.submitButton{
	float: right;
}

.trabajoLunes, .trabajoMartes, .trabajoMiercoles, .trabajoJueves,.trabajoViernes{
	width: 1em;
	margin-left: 15px;
}

input[type="checkbox"]{
	margin-left: 10px;
	margin-right: 15px;
}

#lunes, #martes,#miercoles,#jueves,#viernes{
	opacity: 0;
}

.btnreturn{
	margin-bottom: 3em;
}

.searchForm{
	float: right;
}

.column1{
	float: left;
	padding-left: 10%;
}
.column2{
	float:right;
	padding-left: 10%;
}

.workingTable{
	margin-top: 1em;
}

.edit{
	float: right;
	margin-right: 10%;
}

.buttonright{
	float: right;
	margin-right: 10%;
}

.buttonleft{
	float: right;
	margin-right: 15px;
}

.frame{
	margin: auto;
	width: 20em;
	text-align: center;
	margin-bottom: 5px;
}

.btnreturn{
	margin-left: 10%;
	margin-bottom: 3em;
}

input{
	width: 20em;
}

.timepicker{
	width: 9em;
	float: right;
	margin-right: 15px;
}

.submitButton{
	float: right;
}

.trabajoLunes, .trabajoMartes, .trabajoMiercoles, .trabajoJueves,.trabajoViernes{
	width: 1em;
	margin-left: 15px;
}

input[type="checkbox"]{
	margin-left: 10px;
	margin-right: 15px;
}

#lunes, #martes,#miercoles,#jueves,#viernes{
	opacity: 0;
}

.btnreturn{
	margin-bottom: 3em;
}

.searchForm{
	float: right;
}

.column1{
	float: left;
	padding-left: 10%;
}
.column2{
	float:right;
	padding-left: 10%;
}

.workingTable{
	margin-top: 1em;
}

.edit{
	float: right;
	margin-right: 10%;
}


.btnreturn{
	margin-left: 10%;
	margin-bottom: 3em;
}

#busquedaform_Busqueda{
	margin-right: 0;
}

.trabajaade{
	padding-left: 34.5%;
}


.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


.lineAbove{
	margin-top: 5px;
	border-top: 1px solid gray;
	padding-top: 5px;
}

.print{
	float: right;
}

#contrasenaform_newpassword, #contrasenaform_repeatpassword,#contrasenaform_Nombre{
	width: 200px;
	margin: 5px;
	float: left;
}

.submitPassword{
	width: 100px;
}

.detailsempleado{
	margin:auto;
}